<div class="tagline-wrapper">
  <h1 class="container tagline">
    <span class="tagline-name">Joe Garber</span>: A passionate software engineer experienced in a wide variety of technologies, as well as mentoring and leading a team.
  </h1>
</div>

<div class="container">
  <div class="print-only print-disclaimer">This page was designed for viewing on the web. A more print-friendly PDF format can be found at http://joegarb.com/resume.</div>

  <div class="web-only">
    <ul class="nav nav-pills resume-nav" role="tablist">
      <li role="presentation" class="active"><a href="#work-experience" aria-controls="work-experience" role="tab" data-toggle="tab">Work Experience</a></li>
      <li role="presentation"><a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education</a></li>
    </ul>
  </div>

  <div class="tab-content resume-content">
    <div role="tabpanel" class="tab-pane fade in active" id="work-experience">
      <div ng-repeat="job in data.jobs" class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title fl"><span class="emphasis">{{job.title}}</span> - {{job.company}}</h3>
          <div class="fr">{{getDuration(job.startDate, job.endDate)}} ({{getDateString(job.startDate)}} - {{getDateString(job.endDate)}})</div>
        </div>
        <div ng-bind-html="job.description | trustAsHtml" class="panel-body">
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="education">
      <div ng-repeat="program in data.education" class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title fl"><span class="emphasis">{{program.degree}}</span> - {{program.school}}</h3>
          <div class="fr">Completed {{getDateString(program.endDate)}}</div>
        </div>
        <div ng-bind-html="program.description | trustAsHtml" class="panel-body">
        </div>
      </div>
    </div>
  </div>

</div>
