/*
 * General styles
 */

body {
    line-height: 1.7em;
    color: #3D444B;
    font-size: 13px;
}

::-moz-selection {
    background: #f7ff7f;
}
::selection {
    background: #f7ff7f;
}

.centered {
    text-align: center;
}

/*
 * Customizing the nav bar a bit from stock
 */

.pure-menu {
    display: flex;
    justify-content: space-between;
}

.pure-menu-disabled, .pure-menu-heading, .pure-menu-link {
    padding: 1em 1em;
    color: #3D444B;
}

.pure-menu-heading {
    display: inline-block;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    background-color: #f4f4f4;
}

/*
 * Content blocks
 */

.content {
    padding: 2em 1em;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0;
}

.content-subhead {
    color: #1f8dd6;
}

.content-subhead i {
    margin-right: 7px;
}

/*
 * Ribbon class inverts the colors
 */

.ribbon {
    background: #3D444B;
    color: #fff;

    a {
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: #fff;
        }

        &:link {
            text-decoration: none;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

/*
 * Tablet size (and up) styles
 */
@media (min-width: 48em) {
    /* Increase the body font size */
    body {
        font-size: 14px;
    }

    /* More padding */
    .content {
        padding: 2em 4em;
    }
}

/*
 * Desktop size (and up) styles
 */
@media (min-width: 78em) {
}
