<div class="header">
    <div class="pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" href="/">Joe Garber</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a jg-href="/cv" class="pure-menu-link">CV</a></li>
        </ul>
        <ul class="pure-menu-list pure-menu-right">
            <li class="pure-menu-item">
                <a jg-href="https://www.linkedin.com/in/joegarb" target="_blank" class="pure-menu-link"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </li>
            <li class="pure-menu-item">
                <a jg-href="https://github.com/joegarb" target="_blank" class="pure-menu-link"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>
