.print-only {
  display: block;
}

.web-only {
  display: none;
}

.print-disclaimer {
  margin-bottom: 20px;
}

.tagline-wrapper {
  padding: 0 15px !important;
  border: none !important;
  margin-top: 20px;
}

.tagline {
  padding: 0 !important;
  font-family: inherit !important;
  font-size: 1.2em !important;
}

.tab-content > .tab-pane {
  /* Show the content from all tabs */
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}